body {
    margin: 0px;
}

.header {
    background-color: #1F2937;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;  
    justify-content: space-evenly;  
    align-items: center;
    margin: auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.left, .right {
    width: 420px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;
}

.one {
    display: flex;
    background-color: #1F2937;
    padding: 80px;
    justify-content: center;
    gap: 47px;
  
}

.main-title {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    height: 28px;
    width: 93px;
    border-radius: 8px;
}

img {
    width: 400px;
    height: auto;
}

.two {
    padding: 30px;
    margin-bottom: 80px;
}

.title {
    text-align: center;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.sec-2 {
    width: 180px;
    height: auto;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.box-1, .box-2, .box-3, .box-4 {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding: 20px;
}